<%- include('mainStart'); -%>

    <h1>Mini-message Board</h1>
    <% messages.forEach((msg) => { %>
        <p>
            <%= msg.user %>: <%= msg.text %>
        </p>
        <p>
            Sent on: <%= msg.added %>
        </p>
    <% }) %>
    
    <a href="/new">Wanna add a new message?</a>
    
<%- include('mainEnd'); -%>