<%- include('mainStart'); -%>
    <style>
        body {
            padding-left: 35%;
        }

        #add {
            position: absolute;
            bottom: 40%;
        }

        #time {
            font-size: small;
            font-style: oblique;
            padding-left: 5%;
        }
    </style>

    <h1>Mini-message Board</h1>
    <% messages.forEach((msg)=> { %>
        <p>
            <%= msg.user %>: <%= msg.text %>
        </p>
        <p id="time">
            Sent on: <%= msg.added %>
        </p>
    <% }) %>

    <a id="add" href="/new">
        <button>
            Wanna add a new message?
        </button>
    </a>

<%- include('mainEnd'); -%>